canvas {
  display: block;
  margin: auto;
  border-radius: 10px;
}

.title {
  display: block;
  float: left;
  color: white;
  background: #423C40;
  font-size: 36px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  font-family: 'Fredoka One';
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
